* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    }
body{
	background-color: rgb(245, 199, 199);
    }
.start{
    margin: 20vh auto;
    width: 100%; 
    background-color: rgb(245, 199, 199);
    overflow: hidden;
    border-radius: 5px;
    }
.wrapper{
    margin:auto;
    width: 41vw;    
    background-color: rgb(245, 199, 199);
    }
.slider{
    display: grid;
        
    }
.slider1{
    grid-area: slider1;
    opacity: 1;
    }  
.slider2{
    grid-area: slider2;
    opacity: 0;    
    }   
.slider3{  
    grid-area: slider3;
    opacity: 0;    
    }
.slider4{
    grid-area: slider4;
    opacity: 0;    
    }

img{    
    width: 100%;
    border-radius: 1.25rem;
    box-shadow:  0 0 30px rgba(0,0,0,0.8);
    }
.T{     
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    }
.content{
    margin-top: 0.625rem;    
    font-family: Georgia, serif;
    }
.text-content{
    display: grid;
    }
.content1{
    grid-area: content1;    
    }
.content2{
    grid-area: content2; 
    opacity: 0;   
    }
.content3{
    grid-area: content3;
    opacity: 0; 
    }
.content4{
    grid-area: content4;
    opacity: 0;  
    }
input[type="radio"]{
    visibility: hidden;   
    }
.wrapper-control{
    display: flex;
    gap: 0.125rem;   
    }
.wrapper-control label{
    display: flex;
    justify-content: center;
    align-items: center;
	height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;    
    }
label:hover{    
    cursor: pointer;    
    }
label:hover .span{
    background: rgb(237, 111, 111);
    } 
label:active .span{
    background: rgb(193, 188, 188);
    } 
.span{
    display: block;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: rgb(100, 46, 46);    
    }
#one:checked ~ .T > .controls > .wrapper-control > label:nth-of-type(1) > .span,
#two:checked ~ .T > .controls > .wrapper-control > label:nth-of-type(2) > .span,
#three:checked ~ .T > .controls > .wrapper-control > label:nth-of-type(3) > .span,
#four:checked ~ .T > .controls > .wrapper-control > label:nth-of-type(4) > .span{
	background: white;
    }
#one:checked ~ .slider > .slider1{
	opacity: 1;
	z-index: 1;
	transform:rotate(360deg);
    transition: transform ease-in-out 0.7s, opacity ease-in-out 0.7s;    
    }
    #one:checked ~ .slider > .slider2,
    #one:checked ~ .slider > .slider3,
    #one:checked ~ .slider > .slider4{
        opacity: 0;
        }
#two:checked ~ .slider > .slider2{
	opacity: 1;
	z-index: 1;
	transform:rotate(360deg);
    transition: transform ease-in-out 0.7s, opacity ease-in-out 0.7s;
    }
    #two:checked ~ .slider > .slider1,
    #two:checked ~ .slider > .slider3,
    #two:checked ~ .slider > .slider4{
        opacity: 0;
        }
#three:checked ~ .slider > .slider3{
	opacity: 1;
	z-index: 1;
	transform:rotate(360deg);
    transition: transform ease-in-out 0.7s, opacity ease-in-out 0.7s;
    }
    #three:checked ~ .slider > .slider1,
    #three:checked ~ .slider > .slider2,
    #three:checked ~ .slider > .slider4{
        opacity: 0;
        }   
#four:checked ~ .slider > .slider4{
	opacity: 1;
	z-index: 1;
	transform:rotate(360deg);
    transition: transform ease-in-out 0.7s, opacity ease-in-out 0.7s;
    }
    #four:checked ~ .slider > .slider1,
    #four:checked ~ .slider > .slider2,
    #four:checked ~ .slider > .slider3{
        opacity: 0;
        }
#one:checked ~ .T > .text-content > .content1{
        opacity: 1;
        z-index: 1;
        transform:rotate(360deg);        
        transition: transform ease-in-out 0.7s, opacity ease-in-out 0.7s;
        color: rgb(100, 46, 46);        
    }
    #one:checked ~ .T > .text-content > .content2,
    #one:checked ~ .T > .text-content > .content3,
    #one:checked ~ .T > .text-content > .content4{
        opacity: 0;
        }
#two:checked ~ .T > .text-content > .content2{
	opacity: 1;
	z-index: 1;
	transform:rotate(360deg);
    transition: transform ease-in-out 0.7s, opacity ease-in-out 0.7s;
    color: rgb(100, 46, 46);
    }
    #two:checked ~ .T > .text-content > .content1,
    #two:checked ~ .T > .text-content > .content3,
    #two:checked ~ .T > .text-content > .content4{
        opacity: 0;
        }
#three:checked ~ .T > .text-content > .content3{
	opacity: 1;
	z-index: 1;
	transform:rotate(360deg);
    transition: transform ease-in-out 0.7s, opacity ease-in-out 0.7s;
    color: rgb(100, 46, 46);
    }
    #three:checked ~ .T > .text-content > .content1,
    #three:checked ~ .T > .text-content > .content2,
    #three:checked ~ .T > .text-content > .content4{
        opacity: 0;
        }
#four:checked ~ .T > .text-content > .content4{
	opacity: 1;
	z-index: 1;
	transform:rotate(360deg);
    transition: transform ease-in-out 0.7s, opacity ease-in-out 0.7s;
    color: rgb(100, 46, 46);
    }
    #four:checked ~ .T > .text-content > .content1,
    #four:checked ~ .T > .text-content > .content2,
    #four:checked ~ .T > .text-content > .content3{
        opacity: 0;
        }
@media screen and (max-width:767px){
    .wrapper{
        display: flex;
        row-gap: 1rem;
        flex-direction: column;
    }    
    .T{
        flex-direction: column-reverse;
        row-gap: 1rem;
        align-items: center;
    }
    .T .text-content{       
        align-self: start;     
    }    
}
  